# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @bibekg

# Order is important. The last matching pattern has the most precedence.

## Dev-Ops Stuff
.travis.yml       @bibekg
deploy.sh         @bibekg
webpack.config.js @bibekg
